/*スタイルシートの基本設定*/
body {
     font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    text-align: center;
    line-height: 1.6;
    color: #5f3700;
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 10px;
}

/*ボディのスタイル*/
body > div {
    width: device-width;
    margin:  auto;
    background-color : #fffefb
}

/*ヘッダーのスタイル*/
header {
    background-color: #ffebc5;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #836200;
}
header > h1 {
    margin: 0;
    font-size: 75px;
    font-weight: normal;
    text-align: left;
}

/*ナビゲーションメニューのスタイル*/
nav {
}

/*メインコンテンツのスタイル*/
main {
    padding: 20px;
}

main > h2 {
    font-size: 100px;
    margin: 20px;
    font-weight: lighter;
}
/*slideのスタイル*/
.slide-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.slide{
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.5s;
}
.slide div {
    width: 33.3333%;
    height: 100%;
    text-align: center;
}
.slide h3 {
    margin: 0;
    font-size: 50px;
}
.slide ul {
    font-size: 30px;
    text-align: left;
    display: inline-block;
}
.slide1 { 
  transform: translateX(0);
}
.slide2 { 
  transform: translateX(-33.33%);
}
.slide3 { 
  transform: translateX(-66.66%);
}
/*左右移動ボタンのスタイル*/
.prev{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 10px;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    border-right: solid 20px #836200;
    border-top: solid 10px transparent;border-bottom: solid 10px transparent;
}

.next{
    position: absolute;
    width: 0px;
    height: 0px;
    right: 10px;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    border-left: solid 20px #836200;
    border-top: solid 10px transparent;border-bottom: solid 10px transparent;
}
