/*スタイルシートの基本設定*/
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background:linear-gradient(140deg, #f5db98, #b26800da);
    color: #6c3400;
    padding: 20px;

}
/*ボディのスタイル*/
body > div {
    max-width: 800px;
    margin:  auto;
    background-color : #fffefb
}
/*ヘッダーのスタイル*/
header {
    background-color: #ffebc5;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #836200;
}
header > h1 {
    margin: 0;
    font-size: 50px;
    text-align: left;
}
header > nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 23px;
}